
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}

header {
    background-color: rgb(52, 52, 52);
    border-radius: 12px;
}

.encabezado {
    text-align: center;
    color: white;
}

img {
    max-width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img-caption {
    text-align: center;
    font-size: 14px;
}

.subtitle {
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
}

.parrafos {
    font-size: 16px;
    text-align: justify;
    padding: 14 px 0;
}

footer {
    background-color: rgb(52, 52, 52);
    border-radius: 12px;
}

#info-footer {
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 14 px 1;
}
