  
* {
    margin: 0;
    box-sizing: border-box;
    font-family:monospace;
}

section {
    min-height: 100vh;
    display: flex;
}

/* lado izquiero */
section .left {
    width: 60vw;
    padding: 15% 3%;
}

section .input {
    width: 95%;
    padding: 10px 14px;
    border-radius: 5px;
    outline: none;
}

/* fin lado izquiero */

/* lado derecho */
section .right {
    position: relative;
    width: 90%;
    height: 100vh;
}

section .right img {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* tarjeta */
.right .card {
    position:absolute; 
    font-weight: 400;
    align-items:flex-end;
    top: 60%;
    left: 30%;
}

.card {
    color: #fff;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    max-width: 450px;
    padding: 20px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
}

.card blockquote {
    font-size: 18px;
}

.card .name {
    font-size: 16px;
}
/* fin tarjeta */

/* fin lado derecho */